

.bodyProductos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: #ece8ea;
    width: 100vw;
}

.mainProductos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: #ece8ea;
    width: 100vw;
}

.headerProductos{
    background-image: url(../imagenes/fondoprodustosc.png);
    height: 30em;
    width: 100vw;
}

.principalProductosh1{
    background-color: brown;
    color: #ffffff;
    font-family: 'Libre Bodoni', serif;
    font-size: 3.5em;
    padding: 0.2em;
    width: 100vw;
}

.productosGaleriasection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: #ece8ea;

    .productosFotos{
        background-color: brown;
        font-family: 'Libre Bodoni', serif;
        font-size: 1.2em;
        color: #ffffff;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 0.1em;

        .productosGaleriafotos{
            height: 18em;
            width: 18em;
        }

        .productosColortalle{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background-color: #ece8ea;
            color: brown;
            font-family: 'Libre Bodoni', serif;
            font-size: 0.8em;
            padding: 0.2em;

            .productosColortalleseleccion{
                display: flex;
                flex-direction: column;
                justify-content: end;    
            }
        }
    }
}

