
@import "general";
@import "contactosale";
@import "catalogo";
@import "productos";
@import "nosotros";


.bodyIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:          
    "headerIndex"
    "mainIndex"
    "footerIndex";
    min-height: 100vh;
    background-color: #ece8ea;
    font-family: 'Merriweather', serif;
}

.headerIndex{
    grid-area: headerIndex;
    background-image: url(../imagenes/fondoHeaderc.png);
    height: 30em;
}

.mainIndex{
    grid-area: mainIndex;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 2em;
    background-color: #ece8ea;
}

.footerIndex{
    grid-area: footerIndex;
    margin-bottom: 0;
}

.principalHeader{
    font-family: 'Merriweather', serif;
    font-size: 2.2em;
     display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
}

ul li{
    display: flex;
    text-decoration: none;

    a{
        color: #d22333;
        text-decoration: none;
        margin-top: 0.1em;
    }

    .ulliSale{
        background-color: brown;
        color: #ffffff;
        border-radius: 10%;
        padding: 0 0.3em;
    }
}

#principalHeaderlogo{
    height: 1.8em;
    width: 2.8em;
    margin-top: 0.2em;
}

.fondoLogoh1{
    display: flex;
    justify-content: center;
    background-color: brown;

    .principalLogoimg{
        height: 4em;
        width: 6em;
    }

    .logoh1{
        display: flex;
        align-items: center;
        font-family: 'Libre Baskerville', serif;
        font-size: 1.8em;
        color: #ffffff;
        margin-left: 0.6em;
    }
}

.articleIndex{
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    color: #d22333;
    margin: 2em 10em 4em;
    border-bottom: 0.1em solid #d22333;

    .articleIndexh2{
        text-align: center;
        font-size: 1.2em;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
}

.figureImgdiv{
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
    align-items: center;
    background-color: #dddddd;
    padding: 2em;
}

.figureImgdivinvertido{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: 90%;
    margin: auto;
    align-items: center;
    background-color: #dddddd;
    padding: 2em;
}

.centerh2Pdiv{
    margin: 2em;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    color: #d22333;
}

.textIndexp{
    font-size: 1em;
}

.encabezadoLineasindexh2{
    font-size: 1.6em;
    padding-bottom: 1em;
}

.principalImagenes{
    height: 30em;
    width: 30em;
}

.cardIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 2.5em 0 3.5em 0;
    border-radius: 0.2em;
    color: brown;
    font-size: 1.2em;
    padding: 0.2em;
}


@media (max-width:800px){  /*index*/
    
    .bodyIndex{
        gap: 1em;
    }

    .principalHeader{
        flex-direction: column;
        background-color: #ece8ea;
    }

    ul li{
        display: flex;
        text-decoration: none;
    
        a{
            color: brown;
            font-size: 0.8em;
            text-decoration: none;
            margin-top: 0.1em;
        }
    
        .ulliSale{
            background-color: #ece8ea;
            color: brown;
            border-radius: 10%;
            padding: 0 0.3em;
        }
    }

    .headerIndex{
        height:20.34em;
    }

    .mainIndex{
        background-color: #ece8ea;
    }

    .articleIndex{
        border-bottom: 0;
    }

    .figureImgdiv{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    .figureImgdivinvertido{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #indexImg{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    #indeximgInvertido{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .footerTarjetasredes{
        flex-direction: column;
    }


    .footerDerechos{
        flex-direction: column;
        background-color: #dddddd;
    }

    h3{
        display: none;
    }

    h4{
        display: none;
    }

}

@media (max-width:400px){
    
    .bodyIndex{
        gap: 0;
    }

    .headerIndex{
        height: 21.3em;
    }

    .principalHeader{
        flex-direction: column;
        background-color: #ece8ea;
    }

    .mainIndex{
        background-color: #ece8ea;
        margin-bottom: 0;
    }

    .articleIndex{
        border: 0;
    }

    #indexImg{
        margin-top: 6em;
    }

    #indeximgInvertido{
        margin-top: 6em;
    }

    .footerTarjetasredes{
        flex-direction: column;
    }

    .footerDerechos{
        flex-direction: column;
        background-color: #dddddd;
    }
}

@media (max-width:800px){  /*nosotros*/

    .mainNosotros{
        display: grid;
        grid-template-columns: 1fr;
    }

    .headerNosotros{
        height: 21.3em;
    }

    .nosotrosHistoriah1{
        font-size: 1.8em;
    }

    .nosotrosh2Foto{
        margin-top: 1em;
    }

    .nCarouselimg{
        height: 18em;
        width: 22em;
    }

    .nosotrosHistoriah2{
        display: none;
    }

    .fotoParrafo{
        flex-direction: column;
        border: none;
        margin: 0;
        padding-top: 0;
    }

    .videoParrafo{
        background: #dddddd;
        border: none;
        margin: 0;
    }

    h3{
        font-size: 1.8em;
        color: yellow;
    }

    h4{
        font-size: 1.5em;
    }

    h5{
        font-size: 1.2em;
    }

}


@media (max-width:400px){

    .mainNosotros{
        background-color: #dddddd;
    }
    
    .nosotrosHistoriah1{
        font-size: 1.4em;
    }

    .nosotrosHistoriah2{
        display: none;
    }

    .nosotrosh2Foto{
        margin-top: 1em;
    }

    h3{
        font-size: 1.4em;
        color: yellow;
    }

    h4{
        font-size: 1.3em;
    }

    h5{
        font-size: 1em;
    }
}

@media (max-width:800px){  /*catalogo*/

    .headerCatalogo{
        height: 21.3em;
    }

    .principalCatalogoh1{
        font-size: 3em;
        color: #ffffff;
        background-color: brown;
        padding: 0.1em;
    }

    .catalogoPublicidad{
        margin: 1em;
    }
    
    .catalogoPublicidadh2{
        font-size: 1.4em;
        padding: 0.4em;
        margin-top: 0.2em;
    }

    .catalogoPublicidadp{
        font-size: 1.2em;
        padding: 0.6em;
    }
    
    .catalogoLonuevoh2{
        font-size: 1.4em;
        padding: 0.2em;
        margin-top: 0;
    }

    .catalogoFigurefondo{
        margin: 2em 0.5em;
    }

    .catalogoFiguremain{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .imagenesCatalogo{
        border: 0.03;
        height: 18em;
        width: 20em;
        margin-top: 1em;
        padding: 0.2em;
    }
    
    .catalogoArth2{
        font-size: 1.4em;
    }
    
    .catalogoDescripcionfoto{
        font-size: 0.9em;
        color: #7D3C98;
        padding: 0.1em;
    }
    
}

@media (max-width:400px){

    .mainCatalogo{
        background-color: #dddddd;
    }

    .catalogoPublicidadp{
        font-size: 0.8em;
        padding: 0;
        margin: 0;
    }

    .catalogoFiguremain{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .principalCatalogoh1{
        font-size: 2.2em;
        padding: 0.1em;
    }

    .imagenesCatalogo{
        border: 0.03;
        height: 18em;
        width: 24em;
        margin-top: 1em;
        padding: 0.2em;
    }

    .catalogoPublicidad{
        margin: 0.8em;
        background-color: #D7BDE2;
    }

}

@media (max-width:800px){/*productos*/

    .headerProductos{
        height: 21.3em;
    }

    .principalProductosh1{
        font-size: 2.8em;
        padding: 0.2em;
    }

    .productosGaleriasection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .productosFotos{
        font-size: 1em;
        color: #ffffff;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.1em;
    }

}

@media (max-width:400px){

    .principalProductosh1{
        font-size: 2.2em;
        padding: 0.1em;
    }

    .productosGaleriasection{
        grid-template-columns: 1fr;
        align-items: center;
    }

    .productosFotos{
        font-size: 1em;
        color: #ffffff;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.1em;
    }

}

@media (max-width:800px){/*contactosale*/

    .principalheaderContactosale{
        font-size: 1.8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        height: 8.8em;
    }

    .contactoSaleh1{
        font-size: 3.4em;
        padding: 0;
    }

    .colornavContactosale{
        font-size: 1em;
    }

    .mainContactosale{
        flex-direction: column;
        background-color: #ece8ea;
    }

    #headercontactoSalelogo{
        height: 4.3em;
        width: 4.3em;
        margin-left: 2em;
    }

    .contactoFormulario{
        font-size: 1.2em;
        margin: 1.5em 10em 3em 10em;
    }
}

@media (max-width:400px){

    .contactoSaleh1{
        font-size: 2.8em;
        padding: 0;
    }

    .contactoFormulario{
        font-size: 1em;
        margin: 1.5em 4em 3em 4em;
    }
    
    #headercontactoSalelog{
        height: 3em;
        width: 3em;
        margin-top: 0.4em;
    }

    .cardSale{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
