
@import "general";
@import "contactosale";
@import "catalogo";
@import "productos";
@import "nosotros";


.bodyIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:          
    "headerIndex"
    "mainIndex"
    "footerIndex";
    min-height: 100vh;
    background-color: #ece8ea;
    font-family: 'Merriweather', serif;
    width: 100vw;
}

.headerIndex{
    grid-area: headerIndex;
    background-image: url(../imagenes/fondoHeaderc.png);
    height: 30em;
    width: 100vw;
}

.navIndexullia{
    width: 100vw;
}

.mainIndex{
    grid-area: mainIndex;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 2em;
    background-color: #ece8ea;
    width: 100vw;
}

.footerIndex{
    grid-area: footerIndex;
    margin-bottom: 0;
}

.principalHeader{
    font-family: 'Merriweather', serif;
    font-size: 2.2em;
     display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin: 0;
}

ul li{
    display: flex;
    text-decoration: none;

    a{
        color: #d22333;
        text-decoration: none;
        margin-top: 0.1em;
    }

    .ulliSale{
        background-color:#d22333;
        color: #ffffff;
        border-radius: 10%;
        padding: 0 0.3em;
    }
}

#principalHeaderlogo{
    height: 1.8em;
    width: 2.8em;
    margin-top: 0.2em;
}

.principalLogoh1{
    background-color: brown;
    width: 100vw;
}

.logoH1{
    font-size: 3em;
    color: #ffffff;
    padding: 0.2em 0;
    width: 100vw;
    margin: auto;
}

.articleIndex{
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    color: #d22333;
    margin: 2em 10em 4em;
    border-bottom: 0.1em solid brown;

    .articleIndexh2{
        text-align: center;
        font-size: 1.2em;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
}

.figureImgdiv{
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    margin: auto;
    align-items: center;
    background-color: #ece8ea;
    padding: 2em;
}

.figureImgdivinvertido{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: 100vw;
    margin: auto;
    align-items: center;
    background-color: #dddddd;
    padding: 2em;
}

.centerh2Pdiv{
    margin: 2em;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    color: #d22333;
}

.textIndexp{
    font-size: 1em;
    padding: 1em;
}

.centerh2Pdiv{
    margin: 0;
}

.encabezadoLineasindexh2{
    font-size: 1.6em;
    padding-bottom: 1em;
}

.principalImagenes{
    height: 30em;
    width: 30em;
}

.cardIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 2.5em 0 3.5em 0;
    border-radius: 0.2em;
    color: brown;
    font-size: 1.2em;
    padding: 0.2em;
    width: 100vw;
}

.footerIndex{
    width: 100vw;
}

@media (max-width:1100px){

    .principalHeader{
        font-size: 1.8em;
    }
}

@media (max-width:950px){

    .principalHeader{
        font-size: 1.6em;
    }
}

@media (max-width:800px){
    
    .bodyIndex{
        gap: 0;
    }

    .headerIndex{
        grid-area: headerIndex;
        background-image: none;
        height:15.8em;
        .principalHeader{
            flex-direction: column;
            background-color: #ece8ea;
        }
    }

    ul li{
        display: flex;
        text-decoration: none;
    
        a{
            color: brown;
            font-size: 0.8em;
            text-decoration: none;
            margin-top: 0.1em;
        }
    
        .ulliSale{
            background-color: #ece8ea;
            color: brown;
            border-radius: 10%;
            padding: 0 0.3em;
        }
    }

    .logoH1{
        font-size: 2em;
        color: #ffffff;
    }

    .articleIndex{
        border-bottom: 0;
    }

    .figureImgdiv{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

  
    .figureImgdivinvertido{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #indexImg{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    #indeximgInvertido{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .footerTarjetasredes{
        flex-direction: column;
    }


    .footerDerechos{
        flex-direction: column;
        background-color: #dddddd;
    }

    h3{
        display: none;
    }

    h4{
        display: none;
    }

}

@media (max-width:600px){
   
    .principalImagenes{
        height: 26em;
        width: 26em;
    }

    .textIndexh2{  
        display: none;
    }

    .botonVolver{
        display: none;
    }
}

@media (max-width:550px){
   
    .figureImgdiv{
        margin: none;
    }
    
    .figureImgdivinvertido{
        margin: none;
    }
    
    .principalImagenes{
        height: 20em;
        width: 20em;
    }
}    

@media (max-width:500px){

    .figureImgdiv{
        margin: none;
    }
    
    .figureImgdivinvertido{
        margin: none;
    }
   
    .logoH1{
        font-size: 1.6em;
        color: #ffffff;
        padding: 0.1em;                      
    }

    .textIndexh2{  
        display: none;
    }
}

@media (max-width:400px){
    
    .bodyIndex{
        gap: 0;
    }

    .mainIndex{
        width: 100vw;
        background-color: #ece8ea;
        margin-bottom: 0;
    }

    .logoH1{
        font-size: 1.6em;
        color: #ffffff;
        padding: 0.1em;                      
    }

    .articleIndex{
        margin: 0 1em;
        border-bottom: none;
    
        .articleIndexh2{
            font-size: 0.8em;    
        }
    }

    .textIndexh2{  
        display: none;
    }

    .principalImagenes{
        height: 16em;
        width: 16em;
    }

    .encabezadoLineasindexh2{
        font-size: 1.2em;
        padding-bottom: 0.6em;
    }

    .textIndexp{
        font-size: 0.8em;
    }

    .cardIndex{
        display: none;
    }

    .footerTarjetasredes{
        flex-direction: column;
    }

    .footerDerechos{
        flex-direction: column;
        background-color: #dddddd;
    }
}

@media (max-width:1100px){

    .fotoParrafo{
        width: 100vw;
    
        .nosotrosparrafoComienzo{
            font-size: 1.2em;
        }

        .nosotrosImagenfigure{
            flex-direction: column;
            
            .nosotrosFoto{
                height: 20em;
                width: 31em;
            }

            .nosotrosTitulofigcaptionuno{
                font-size: 1.2em;
            }
        }
    }
}

@media (max-width:950px){

    .fotoParrafo{
        width: 100vw;
    
        .nosotrosparrafoComienzo{
            font-size: 1.2em;
        }

        .nosotrosImagenfigure{
            flex-direction: column;
            
            .nosotrosFoto{
                height: 20em;
                width: 28em;
            }

            .nosotrosTitulofigcaptionuno{
                font-size: 1.2em;
            }
        }
    }
}

@media (max-width:800px){

    .mainNosotros{
        display: grid;
        grid-template-columns: 1fr;
    }

    .headerNosotros{
        background-image: none;
        height: 15.4em;
        .principalHeader{
            flex-direction: column;
            background-color: #ece8ea;
        }
    }

    .nosotrosHistoriah1{
        font-size: 1.8em;
    }

    .nosotrosh2Foto{
        margin-top: 1em;
    }

    .nCarouselimg{
        height: 18em;
        width: 22em;
    }

    .nosotrosHistoriah2{
        display: none;
    }

    .fotoParrafo{
        width: 100vw;
    
        .nosotrosparrafoComienzo{
            font-size: 1.2em;
        }

        .nosotrosImagenfigure{
            flex-direction: column;
            
            .nosotrosFoto{
                height: 20em;
                width: 27em;
                margin: 0;
            }

            .nosotrosTitulofigcaptionuno{
                font-size: 1.2em;
            }
        }
    }

    .fotoParrafo{
        flex-direction: column;
        border: none;
        margin: 0;
        padding-top: 0;
    }

    .videoParrafo{
        background: #dddddd;
        border: none;
        margin: 0;
        width: 100vw;
    }

    h3{
        font-size: 1.8em;
        color: yellow;
    }

    h4{
        font-size: 1.5em;
    }

    h5{
        font-size: 1.2em;
    }

}

@media (max-width:630px){

    .fotoParrafo{
        width: 100vw;
    
        .nosotrosparrafoComienzo{
            font-size: 1.2em;
        }

        .nosotrosImagenfigure{
            flex-direction: column;
            
            .nosotrosFoto{
                height: 16em;
                width: 22em;
            }

            .nosotrosTitulofigcaptionuno{
                font-size: 1.2em;
            }
        }
    }

    .videoParrafo{
        display: none;
    }
}

@media (max-width:450px){

    .fotoParrafo{
        width: 100vw;
    
        .nosotrosparrafoComienzo{
            font-size: 1.2em;
        }

        .nosotrosImagenfigure{
            flex-direction: column;
            
            .nosotrosFoto{
                height: 12em;
                width: 18em;
            }

            .nosotrosTitulofigcaptionuno{
                font-size: 1.2em;
            }
        }
    }   
}

@media (max-width:400px){

    .mainNosotros{
        background-color: #dddddd;
        width: 100vw;
    }
    
    .nosotrosHistoriah1{
        font-size: 1.02em;
        color: #ffffff;
        width: 100vw;
    }

    .col{
        width: 100vw;
    }

    .nCarouselimg{
        height: 16em;
        width: 22em;
    }

    .nosotrosHistoriah2{
        display: none;
    }

    h3{
        font-size: 1.4em;
        color: yellow;
    }

    h4{
        font-size: 1.3em;
    }

    h5{
        font-size: 1em;
    }

    .botonVolver{
        display: none;
    }
}

@media (max-width:330px){

    .fotoParrafo{
        width: 100vw;
    
        .nosotrosparrafoComienzo{
            font-size: 1.2em;
        }

        .nosotrosImagenfigure{
            flex-direction: column;
            
            .nosotrosFoto{
                height: 12em;
                width: 14em;
            }

            .nosotrosTitulofigcaptionuno{
                font-size: 1.2em;
            }
        }
    }
}

@media (max-width:1999px){
    
    .principalCatalogoh1{
        font-size: 6em;
    }    
}

@media (max-width:1200px){
    
    .principalCatalogoh1{
        font-size: 5em;
    }    
    
    .imagenesCatalogo{
        height: 22em;
        width: 24em;
    }
}

@media (max-width:1000px){
    
    .principalCatalogoh1{
        font-size: 4em;
    }    
    
    .imagenesCatalogo{
        height: 20em;
        width: 22em;
    }
}

@media (max-width:800px){

    .headerCatalogo{
        background-image: none;
        height: 15.8em;
        .principalHeader{
            flex-direction: column;
            background-color: #ece8ea;
        }
    }

    .principalCatalogoh1{
        font-size: 3em;
        color: #ffffff;
        background-color: brown;
        padding: 0.1em 0;
        margin-bottom: 0;
    }
    
    .catalogoPublicidadh2{
        font-size: 1.4em;
        padding: 0.4em;
        margin-top: 0.2em;
    }

    .catalogoPublicidadp{
        font-size: 1.2em;
        padding: 0.6em;
    }
    
    .catalogoLonuevoh2{
        font-size: 1.4em;
        padding: 0.2em;
        margin-top: 0;
    }

    .catalogoFigurefondo{
        margin: 2em 0.5em;
    }

    .catalogoFiguremain{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .imagenesCatalogo{
        height: 16em;
        width: 18em;}
    
    .catalogoArth2{
        font-size: 1.4em;
    }
    
    .catalogoDescripcionfoto{
        font-size: 0.9em;
        color: #7D3C98;
        padding: 0.1em;
    }
    
}

@media (max-width:700px){
    
    .catalogoPublicidad{
        display: none;
    }

    .catalogoFiguremain{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .catalogoLonuevoh2{
        display: none;
    }

    .principalCatalogoh1{
        font-size: 2.4em;
        color: #ffffff;
        background-color: brown;
        padding: 0.1em 0;
    }

    .imagenesCatalogo{
        height: 20em;
        width: 20em;
    }

    .catalogoFiguremain{
        gap: 0;
    }
}

@media (max-width:550px){
    
    .principalCatalogoh1{
        font-size: 2.2em;
    }    
    
    .imagenesCatalogo{
        height: 17em;
        width: 17em;
    }
}

@media (max-width:450px){
    
    .principalCatalogoh1{
        font-size: 1.8em;
    }    
    
    .imagenesCatalogo{
        height: 15em;
        width: 15em;
    }
} 

@media (max-width:400px){

    .mainCatalogo{
        background-color: #dddddd;
    }

    .catalogoFigurefondo{
        margin: 1em 0.5em;
    }

    .imagenesCatalogo{
        height: 14em;
        width: 14em;}

    .catalogoPublicidad{
        margin: 0.8em;
        background-color: #D7BDE2;
    }
}

@media (max-width:300px){
    
    .imagenesCatalogo{
        height: 10em;
        width: 10em;
    }
}

@media (max-width:1200px){

    .principalProductosh1{
        font-size: 4em;
    }
    
    .productosGaleriasection{
        background-color: #ece8ea;
    
        .productosFotos{
            color: #ffffff;
    
            .productosGaleriafotos{
                height: 17em;
                width: 17em;
            }
        }
    }    
}
    
@media (max-width:1000px){

    .principalProductosh1{
        font-size: 3.5em;
    }
    
    .productosGaleriasection{
        background-color: #ece8ea;
    
        .productosFotos{
            color: #ffffff;
    
            .productosGaleriafotos{
                height: 16.4em;
                width: 16.4em;
            }
        }
    }    
}

@media (max-width:920px){

    .principalProductosh1{
        font-size: 3.4em;
    }
    
    .productosGaleriasection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        background-color: #ece8ea;
    
        .productosFotos{
            color: #ffffff;
    
            .productosGaleriafotos{
                height: 16.3em;
                width: 16.3em;
            }
        }
    }    
}

@media (max-width:800px){

    .headerProductos{
        background-image: none;
        height: 15.8em;
        .principalHeader{
            flex-direction: column;
            background-color: #ece8ea;
        }
    }

    .principalProductosh1{
        font-size: 2.8em;
    }

    .productosGaleriasection{
        width: 100vw;
        
        .productosFotos{
            font-size: 1em;
            color: #ffffff;
            margin-top: 1em;
            margin-bottom: 1em;
            padding: 0.1em;
        }

        .productosGaleriafotos{
            height: 14em;
            width: 14em;
        }
    }
}

@media (max-width:600px){

    .productosGaleriasection{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        background-color: #ece8ea;

        .productosFotos{
            background-color: none;
            color: #ffffff;
        }
    }    
}

@media (max-width:400px){

    .principalProductosh1{
        font-size: 1.8em;
    }

    .productosGaleriasection{
        grid-template-columns: 1fr;
        align-items: center;
    }

    .productosFotos{
        font-size: 1em;
        color: #ffffff;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.1em;
    }

}

@media (max-width:800px){

    .principalheaderContactosale{
        font-size: 1.4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        height: 7.8em;
    }

    #headercontactoSalelogo{
        height: 3em;
        width: 2.4em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }


    .contactoSaleh1{
        font-size: 3.4em;
        padding: 0;
    }

    .colornavContactosale{
        font-size: 1em;
    }

    .mainContactosale{
        flex-direction: column;
        background-color: #ece8ea;
    }

    .contactoFormulario{
        font-size: 1.2em;
    }
}

@media (max-width:680px){ 
    
    .cardSale{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}  

@media (max-width:400px){

    .contactoSaleh1{
        font-size: 2.8em;
        padding: 0;
    }

    .contactoFormulario{
        font-size: 1em;
    }
    
    #headercontactoSalelog{
        height: 3em;
        width: 3em;
        margin-top: 0.4em;
    }
}