@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati&family=Libre+Baskerville:wght@700&family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati&family=Libre+Baskerville:wght@700&family=Libre+Bodoni:ital@1&family=Merriweather:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

.botonVolver {
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.footerTarjetasredes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Merriweather', serif;
  font-size: 0.6em;
  background-color: brown;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: auto;
  width: 100vw;
}

.materialesLineash3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  width: 100vw;
}

.tarjetasRedesh3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  width: 100vw;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

.faceInstavisamaster a i {
  color: #ffffff;
  font-size: 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.5em;
  padding: 0.1em;
}

.faceInstavisamaster a i:hover {
  color: yellow;
}

.newsletterlocacionTelefono a i {
  color: #ffffff;
  font-size: 3em;
  margin-top: 0.1em;
  margin-bottom: 0.25em;
}

.newsletterlocacionTelefono a i:hover {
  color: yellow;
}

.correoEnviar {
  font-size: 1.4em;
  color: #ffffff;
}

.locationWhatsapp {
  width: 100vw;
}

.newsletterCorreo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.footerCopy {
  background-color: #ece8ea;
  color: brown;
  font-family: 'Merriweather', serif;
  font-size: 0.6em;
  text-align: center;
  height: 1.5em;
  padding: 0.1em;
  margin-bottom: 0;
  width: 100vw;
}

.principalheaderContactosale {
  font-family: 'Merriweather', serif;
  font-size: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 1.1em;
}

.cardSale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
  width: 100vw;
  padding: 1em 0;
}

.cardSale .card {
  background-color: #dddddd;
  padding: 0.3em;
  color: brown;
  border: 0.16em solid brown;
  border-radius: 0.4em;
  width: 100vw;
}

.cardSale .card-body {
  text-align: center;
}

.bodyContactosale {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  background-color: #ece8ea;
  width: 100vw;
}

.mainContactosale {
  width: 100vw;
}

.headerContactosale {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: brown;
  width: 100vw;
}

.headerContactosale #headercontactoSalelogo {
  height: 4.3em;
  width: 4.3em;
  margin-top: 0.4em;
  margin-bottom: 2.2em;
}

.headerContactosale .colornavContactosale {
  font-size: 0.98em;
  font-family: 'Merriweather', serif;
  color: #ffffff;
}

.contactoSaleh1 {
  text-align: center;
  background-color: #dddddd;
  color: brown;
  font-size: 4em;
  padding: 0.1em;
  width: 100vw;
}

.contactoFormulario {
  text-align: center;
  color: #d22333;
  font-family: 'Merriweather', serif;
  font-size: 1.4em;
  margin: 3em 0;
  padding: 0 6em;
  width: 100vw;
}

.botonContacto {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: brown;
  color: #ffffff;
  font-size: 1.1em;
  height: 3em;
  width: 7em;
  border-radius: 0.4em;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  position: relative;
  overflow: hidden;
  margin-top: 0.55em;
  margin-bottom: 6em;
}

.botonContacto::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #7D3C98;
  position: absolute;
  z-index: 1;
  top: -3em;
  left: 0;
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

.botonContacto span {
  position: relative;
  z-index: 2;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.botonContacto:hover::after {
  top: 0;
}

.contactoButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2.4em;
  margin-top: 0.8em;
}

.btn--productos {
  text-decoration: none;
  font-size: 1.2em;
  background-color: #ece8ea;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 0.1em solid brown;
  color: brown;
}

.btn--catalogo {
  text-decoration: none;
  font-size: 1.2em;
  background-color: #ece8ea;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 0.1em solid brown;
  color: brown;
}

.salebuttonEnlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 4em;
}

.saleButton, .btn--salecatalogo, .btn--saleproductos {
  text-decoration: none;
  background-color: brown;
  color: #ffffff;
  border-radius: 0.5em;
  padding: 0.8em 1.2em;
}

.bodyCatalogo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  font-family: 'Merriweather', serif;
  background-color: #ece8ea;
}

.headerCatalogo {
  background-image: url(../imagenes/fondocatalogoc.png);
  height: 30em;
  width: 100vw;
}

.mainCatalogo {
  background-color: #ece8ea;
  width: 100vw;
}

.principalCatalogoh1 {
  font-size: 3.5em;
  color: #7D3C98;
  padding: 0.4em 0;
}

.catalogoPublicidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D7BDE2;
}

.catalogoPublicidadh2 {
  font-size: 2em;
  color: #7D3C98;
  padding: 0.4em;
}

.catalogoPublicidadp {
  font-size: 1.6em;
  padding: 0.8em 1.4em;
  color: #7D3C98;
}

.catalogoLonuevoh2 {
  font-size: 1.8em;
  padding: 0.8em;
  color: #ffffff;
  background-color: brown;
  margin-top: 1em;
}

.catalogoFiguremain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
  gap: 2em;
}

.imagenesCatalogo {
  background-color: #C39BD3;
  border: 0.13em dashed #7D3C98;
  border-radius: 0.6em;
  height: 26em;
  width: 30em;
  margin-top: 2em;
  padding: 0.2em;
  -webkit-box-shadow: 1em 0.8em 0.8em #C39BD3;
          box-shadow: 1em 0.8em 0.8em #C39BD3;
}

.catalogoArth2 {
  font-size: 1.5em;
  color: brown;
  padding: 0.1em;
  margin-top: 0.6em;
}

.catalogoDescripcionfoto {
  font-size: 1em;
  color: #7D3C98;
  padding: 0.3em;
}

.catalogoFigurefondo {
  margin: 2em 0;
}

.cardCatalogo {
  margin: 3em 0;
}

.fondoclarooscuro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fondoscatalogoClaro {
  width: 100%;
  height: 1em;
  background-color: #C39BD3;
  margin-top: 1.7em;
}

.fondoscatalogoOscuro {
  width: 100%;
  height: 1em;
  background-color: #7D3C98;
  margin-top: 1.7em;
}

.bodyProductos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  background-color: #ece8ea;
  width: 100vw;
}

.mainProductos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  background-color: #ece8ea;
  width: 100vw;
}

.headerProductos {
  background-image: url(../imagenes/fondoprodustosc.png);
  height: 30em;
  width: 100vw;
}

.principalProductosh1 {
  background-color: brown;
  color: #ffffff;
  font-family: 'Libre Bodoni', serif;
  font-size: 3.5em;
  width: 100vw;
  margin-bottom: 0;
}

.productosGaleriasection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: #ece8ea;
}

.productosGaleriasection .productosFotos {
  background-color: brown;
  font-family: 'Libre Bodoni', serif;
  font-size: 1em;
  color: #ffffff;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.1em;
}

.productosGaleriasection .productosFotos .productosGaleriafotos {
  height: 18em;
  width: 18em;
}

.productosGaleriasection .productosFotos .productosColortalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #dddddd;
  color: black;
  font-family: 'Libre Bodoni', serif;
  font-size: 1em;
  padding: 0.2em;
}

.productosGaleriasection .productosFotos .productosColortalle .productosColortalleseleccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.bodyNosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  width: 100vw;
}

.headerNosotros {
  background-image: url(../imagenes/fondonosotrosc.png);
  height: 30em;
  width: 100vw;
}

.mainNosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  background-color: #ece8ea;
  width: 100vw;
}

.nosotrosHistoriah1 {
  text-align: center;
  font-family: 'Libre Bodoni', serif;
  font-size: 2.6em;
  color: #ffffff;
  background-color: brown;
  padding: 0.5em;
  margin-bottom: 0;
  width: 100vw;
}

.row {
  width: 100vw;
  text-align: center;
  margin: auto;
}

.col {
  background-color: #b48c8c;
  padding: 1em;
  width: 100vw;
}

.nCarouselimg {
  border: 0.18em solid #ece8ea;
  height: 26em;
  width: 30em;
}

.nosotrosHistoriah2 {
  font-family: 'Libre Bodoni', serif;
  font-size: 2.5em;
  color: #d22333;
  margin-top: 0.8em;
  padding-bottom: 1em;
  width: 100vw;
}

.fotoParrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin-bottom: 2em;
}

.fotoParrafo .nosotrosh2Foto {
  font-family: 'Libre Bodoni', serif;
  font-size: 1.8em;
  color: #d22333;
  margin: 1em 1em;
}

.fotoParrafo .nosotrosparrafoComienzo {
  font-family: 'Libre Bodoni', serif;
  font-size: 1.2em;
  color: #d22333;
  padding: 1em;
}

.videoParrafo {
  margin: 2em 0;
  width: 100vw;
}

.videoParrafo .nosotrosparrafoVideo {
  font-family: 'Libre Bodoni', serif;
  color: #d22333;
  width: 100vw;
}

.videoParrafo .nosotrosparrafoVideo .nosotrosh2Video {
  font-family: 'Libre Bodoni', serif;
  font-size: 1.8em;
  color: #d22333;
  padding: 1em;
}

.videoParrafo .nosotrosparrafoVideo .nosotrosParrafopie {
  text-align: center;
  font-family: 'Libre Bodoni', serif;
  font-size: 1.2em;
  color: #d22333;
  padding: 1.2em;
  width: 100vw;
}

.nosotrosImagenfigure:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.nosotrosFoto {
  height: 20em;
  width: 35em;
  margin-right: 2em;
}

.nosotrosVideo {
  margin: 2em;
}

.nosotrosTitulofigcaption {
  font-family: 'Libre Bodoni', serif;
  font-size: 1.1em;
  color: #d22333;
}

.nosotrosTitulofigcaptionuno {
  text-align: center;
  font-family: 'Libre Bodoni', serif;
  font-size: 1.1em;
  color: #d22333;
}

.bodyIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "headerIndex" "mainIndex" "footerIndex";
  min-height: 100vh;
  background-color: #ece8ea;
  font-family: 'Merriweather', serif;
  width: 100vw;
}

.headerIndex {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headerIndex;
  background-image: url(../imagenes/fondoHeaderc.png);
  height: 30em;
  width: 100vw;
}

.navIndexullia {
  width: 100vw;
}

.mainIndex {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainIndex;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-bottom: 2em;
  background-color: #ece8ea;
  width: 100vw;
}

.footerIndex {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footerIndex;
  margin-bottom: 0;
}

.principalHeader {
  font-family: 'Merriweather', serif;
  font-size: 2.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

ul li a {
  color: #d22333;
  text-decoration: none;
  margin-top: 0.1em;
}

ul li .ulliSale {
  background-color: #d22333;
  color: #ffffff;
  border-radius: 10%;
  padding: 0 0.3em;
}

#principalHeaderlogo {
  height: 1.8em;
  width: 2.8em;
  margin-top: 0.2em;
}

.principalLogoh1 {
  background-color: brown;
  width: 100vw;
}

.logoH1 {
  font-size: 3em;
  color: #ffffff;
  padding: 0.2em 0;
  width: 100vw;
  margin: auto;
}

.articleIndex {
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  color: #d22333;
  margin: 2em 10em 4em;
  border-bottom: 0.1em solid brown;
}

.articleIndex .articleIndexh2 {
  text-align: center;
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.figureImgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100vw;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ece8ea;
  padding: 2em;
}

.figureImgdivinvertido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100vw;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dddddd;
  padding: 2em;
}

.centerh2Pdiv {
  margin: 2em;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  color: #d22333;
}

.textIndexp {
  font-size: 1em;
  padding: 1em;
}

.centerh2Pdiv {
  margin: 0;
}

.encabezadoLineasindexh2 {
  font-size: 1.6em;
  padding-bottom: 1em;
}

.principalImagenes {
  height: 30em;
  width: 30em;
}

.cardIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin: 2.5em 0 3.5em 0;
  border-radius: 0.2em;
  color: brown;
  font-size: 1.2em;
  padding: 0.2em;
  width: 100vw;
}

.footerIndex {
  width: 100vw;
}

@media (max-width: 1100px) {
  .principalHeader {
    font-size: 1.8em;
  }
}

@media (max-width: 950px) {
  .principalHeader {
    font-size: 1.6em;
  }
}

@media (max-width: 800px) {
  .bodyIndex {
    gap: 0;
  }
  .headerIndex {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: headerIndex;
    background-image: none;
    height: 15.8em;
  }
  .headerIndex .principalHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ece8ea;
  }
  ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
  }
  ul li a {
    color: brown;
    font-size: 0.8em;
    text-decoration: none;
    margin-top: 0.1em;
  }
  ul li .ulliSale {
    background-color: #ece8ea;
    color: brown;
    border-radius: 10%;
    padding: 0 0.3em;
  }
  .logoH1 {
    font-size: 2em;
    color: #ffffff;
  }
  .articleIndex {
    border-bottom: 0;
  }
  .figureImgdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .figureImgdivinvertido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #indexImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #indeximgInvertido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerTarjetasredes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerDerechos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #dddddd;
  }
  h3 {
    display: none;
  }
  h4 {
    display: none;
  }
}

@media (max-width: 600px) {
  .principalImagenes {
    height: 26em;
    width: 26em;
  }
  .textIndexh2 {
    display: none;
  }
}

@media (max-width: 500px) {
  .principalImagenes {
    height: 20em;
    width: 20em;
  }
  .logoH1 {
    font-size: 1.6em;
    color: #ffffff;
    padding: 0.1em;
  }
  .textIndexh2 {
    display: none;
  }
}

@media (max-width: 400px) {
  .bodyIndex {
    gap: 0;
  }
  .mainIndex {
    width: 100vw;
    background-color: #ece8ea;
    margin-bottom: 0;
  }
  .logoH1 {
    font-size: 1.6em;
    color: #ffffff;
    padding: 0.1em;
  }
  .articleIndex {
    margin: 0 1em;
    border-bottom: none;
  }
  .articleIndex .articleIndexh2 {
    font-size: 0.8em;
  }
  .textIndexh2 {
    display: none;
  }
  .principalImagenes {
    height: 16em;
    width: 16em;
  }
  .encabezadoLineasindexh2 {
    font-size: 1.2em;
    padding-bottom: 0.6em;
  }
  .textIndexp {
    font-size: 0.8em;
  }
  .cardIndex {
    display: none;
  }
  .footerTarjetasredes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerDerechos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #dddddd;
  }
}

@media (max-width: 1100px) {
  .fotoParrafo {
    width: 100vw;
  }
  .fotoParrafo .nosotrosparrafoComienzo {
    font-size: 1.2em;
  }
  .fotoParrafo .nosotrosImagenfigure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosFoto {
    height: 20em;
    width: 31em;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosTitulofigcaptionuno {
    font-size: 1.2em;
  }
}

@media (max-width: 950px) {
  .fotoParrafo {
    width: 100vw;
  }
  .fotoParrafo .nosotrosparrafoComienzo {
    font-size: 1.2em;
  }
  .fotoParrafo .nosotrosImagenfigure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosFoto {
    height: 20em;
    width: 28em;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosTitulofigcaptionuno {
    font-size: 1.2em;
  }
}

@media (max-width: 800px) {
  .mainNosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .headerNosotros {
    background-image: none;
    height: 15.4em;
  }
  .headerNosotros .principalHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ece8ea;
  }
  .nosotrosHistoriah1 {
    font-size: 1.8em;
  }
  .nosotrosh2Foto {
    margin-top: 1em;
  }
  .nCarouselimg {
    height: 18em;
    width: 22em;
  }
  .nosotrosHistoriah2 {
    display: none;
  }
  .fotoParrafo {
    width: 100vw;
  }
  .fotoParrafo .nosotrosparrafoComienzo {
    font-size: 1.2em;
  }
  .fotoParrafo .nosotrosImagenfigure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosFoto {
    height: 20em;
    width: 27em;
    margin: 0;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosTitulofigcaptionuno {
    font-size: 1.2em;
  }
  .fotoParrafo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    margin: 0;
    padding-top: 0;
  }
  .videoParrafo {
    background: #dddddd;
    border: none;
    margin: 0;
    width: 100vw;
  }
  h3 {
    font-size: 1.8em;
    color: yellow;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.2em;
  }
}

@media (max-width: 630px) {
  .fotoParrafo {
    width: 100vw;
  }
  .fotoParrafo .nosotrosparrafoComienzo {
    font-size: 1.2em;
  }
  .fotoParrafo .nosotrosImagenfigure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosFoto {
    height: 16em;
    width: 22em;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosTitulofigcaptionuno {
    font-size: 1.2em;
  }
  .videoParrafo {
    display: none;
  }
}

@media (max-width: 450px) {
  .fotoParrafo {
    width: 100vw;
  }
  .fotoParrafo .nosotrosparrafoComienzo {
    font-size: 1.2em;
  }
  .fotoParrafo .nosotrosImagenfigure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosFoto {
    height: 12em;
    width: 18em;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosTitulofigcaptionuno {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .mainNosotros {
    background-color: #dddddd;
    width: 100vw;
  }
  .nosotrosHistoriah1 {
    font-size: 1.02em;
    color: #ffffff;
    width: 100vw;
  }
  .col {
    width: 100vw;
  }
  .nCarouselimg {
    height: 16em;
    width: 22em;
  }
  .nosotrosHistoriah2 {
    display: none;
  }
  h3 {
    font-size: 1.4em;
    color: yellow;
  }
  h4 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 1em;
  }
  .botonVolver {
    display: none;
  }
}

@media (max-width: 330px) {
  .fotoParrafo {
    width: 100vw;
  }
  .fotoParrafo .nosotrosparrafoComienzo {
    font-size: 1.2em;
  }
  .fotoParrafo .nosotrosImagenfigure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosFoto {
    height: 12em;
    width: 14em;
  }
  .fotoParrafo .nosotrosImagenfigure .nosotrosTitulofigcaptionuno {
    font-size: 1.2em;
  }
}

@media (max-width: 1999px) {
  .principalCatalogoh1 {
    font-size: 6em;
  }
}

@media (max-width: 1200px) {
  .principalCatalogoh1 {
    font-size: 5em;
  }
  .imagenesCatalogo {
    height: 22em;
    width: 24em;
  }
}

@media (max-width: 1000px) {
  .principalCatalogoh1 {
    font-size: 4em;
  }
  .imagenesCatalogo {
    height: 20em;
    width: 22em;
  }
}

@media (max-width: 800px) {
  .headerCatalogo {
    background-image: none;
    height: 15.8em;
  }
  .headerCatalogo .principalHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ece8ea;
  }
  .principalCatalogoh1 {
    font-size: 3em;
    color: #ffffff;
    background-color: brown;
    padding: 0.1em 0;
    margin-bottom: 0;
  }
  .catalogoPublicidadh2 {
    font-size: 1.4em;
    padding: 0.4em;
    margin-top: 0.2em;
  }
  .catalogoPublicidadp {
    font-size: 1.2em;
    padding: 0.6em;
  }
  .catalogoLonuevoh2 {
    font-size: 1.4em;
    padding: 0.2em;
    margin-top: 0;
  }
  .catalogoFigurefondo {
    margin: 2em 0.5em;
  }
  .catalogoFiguremain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .imagenesCatalogo {
    height: 16em;
    width: 18em;
  }
  .catalogoArth2 {
    font-size: 1.4em;
  }
  .catalogoDescripcionfoto {
    font-size: 0.9em;
    color: #7D3C98;
    padding: 0.1em;
  }
}

@media (max-width: 700px) {
  .catalogoPublicidad {
    display: none;
  }
  .catalogoLonuevoh2 {
    display: none;
  }
  .principalCatalogoh1 {
    font-size: 2.4em;
    color: #ffffff;
    background-color: brown;
    padding: 0.1em 0;
  }
  .imagenesCatalogo {
    height: 15em;
    width: 15em;
  }
  .catalogoFiguremain {
    gap: 0;
  }
}

@media (max-width: 550px) {
  .principalCatalogoh1 {
    font-size: 2.2em;
  }
  .imagenesCatalogo {
    height: 12em;
    width: 12em;
  }
}

@media (max-width: 450px) {
  .principalCatalogoh1 {
    font-size: 1.8em;
  }
  .imagenesCatalogo {
    height: 10em;
    width: 10em;
  }
}

@media (max-width: 400px) {
  .mainCatalogo {
    background-color: #dddddd;
  }
  .catalogoFigurefondo {
    margin: 1em 0.5em;
  }
  .catalogoFiguremain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .imagenesCatalogo {
    height: 14em;
    width: 14em;
  }
  .catalogoPublicidad {
    margin: 0.8em;
    background-color: #D7BDE2;
  }
}

@media (max-width: 300px) {
  .imagenesCatalogo {
    height: 10em;
    width: 10em;
  }
}

@media (max-width: 1200px) {
  .principalProductosh1 {
    font-size: 4em;
  }
  .productosGaleriasection {
    background-color: #ece8ea;
  }
  .productosGaleriasection .productosFotos {
    color: #ffffff;
  }
  .productosGaleriasection .productosFotos .productosGaleriafotos {
    height: 17em;
    width: 17em;
  }
}

@media (max-width: 1000px) {
  .principalProductosh1 {
    font-size: 3.5em;
  }
  .productosGaleriasection {
    background-color: #ece8ea;
  }
  .productosGaleriasection .productosFotos {
    color: #ffffff;
  }
  .productosGaleriasection .productosFotos .productosGaleriafotos {
    height: 16.4em;
    width: 16.4em;
  }
}

@media (max-width: 920px) {
  .principalProductosh1 {
    font-size: 3.4em;
  }
  .productosGaleriasection {
    background-color: #ece8ea;
  }
  .productosGaleriasection .productosFotos {
    color: #ffffff;
  }
  .productosGaleriasection .productosFotos .productosGaleriafotos {
    height: 16.3em;
    width: 16.3em;
  }
}

/*@media (max-width:880px){

    .productosGaleriasection{
        background-color: #ece8ea;
    
        .productosFotos{
            color: #ffffff;
    
            .productosGaleriafotos{
                height: 15.8em;
                width: 15.8em;
            }
        }
    }    
}*/
@media (max-width: 800px) {
  .headerProductos {
    background-image: none;
    height: 15.8em;
  }
  .headerProductos .principalHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ece8ea;
  }
  .principalProductosh1 {
    font-size: 2.8em;
  }
  .productosGaleriasection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  .productosGaleriasection .productosFotos {
    font-size: 1em;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.1em;
  }
  .productosGaleriasection .productosGaleriafotos {
    height: 14em;
    width: 14em;
  }
}

@media (max-width: 400px) {
  .principalProductosh1 {
    font-size: 1.8em;
  }
  .productosGaleriasection {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productosFotos {
    font-size: 1em;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.1em;
  }
}

@media (max-width: 800px) {
  .principalheaderContactosale {
    font-size: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    height: 7.8em;
  }
  #headercontactoSalelogo {
    height: 3em;
    width: 2.4em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  .contactoSaleh1 {
    font-size: 3.4em;
    padding: 0;
  }
  .colornavContactosale {
    font-size: 1em;
  }
  .mainContactosale {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ece8ea;
  }
  .contactoFormulario {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .contactoSaleh1 {
    font-size: 2.8em;
    padding: 0;
  }
  .contactoFormulario {
    font-size: 1em;
  }
  #headercontactoSalelog {
    height: 3em;
    width: 3em;
    margin-top: 0.4em;
  }
  .cardSale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */